#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}

body {
  background-color: #e0dbf7 !important;
  height: 100%;
  margin: 0;
}

#chat-container {
  height: 400px;
  overflow-y: auto;
}

.card-body {
  height: 800px !important;
}
.row {
  height: 100% !important;
}

#chat3 {
  border-radius: 15px;
}
a {
  text-decoration: none !important;
}

/* ///////////////////////////////// */

#chatbar {
  position: fixed;
  right: 12px;
  bottom: 12px;
  display: flex;
  gap: 12px;
  align-items: flex-end;
  z-index: 9999;
}

/* Nice rounded look */
.chat-window {
  border-radius: 12px;
  overflow: hidden;
}

/* Optional: minimized state */
.chat-window.minimized .card-body {
  display: none;
}
