#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}

body {
  background-color: #cdc4f9 !important;
  height: 100%;
  margin: 0;
}

#chat-container {
  height: 400px;
  overflow-y: auto;
}

.card-body {
  height: 800px !important;
}
.row {
  height: 100% !important;
}

#chat3 {
  border-radius: 15px;
}
a {
  text-decoration: none !important;
}
